
.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #DCDCDC;
    font-size: 25px;
}

.Header a {
    text-decoration: none;
    color:#808080 ;
}

.Header a[class='active'] {
    color: #4682B4;
}