
.movieCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;



}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 80%;

    text-align: center;

    > input {
        height: 25px;
        width: 25%;
        box-shadow: 1px 1px 6px -2px grey;
        padding: 10px;
        font-size: 22px;
        text-align: center;

        &::placeholder {
            font-size: 16px;
        }
    }

    > button {
        height: 50px;
        padding: 0 25px;
        font-size: 15px;
        background: linear-gradient(90deg, rgba(15, 255, 184, 1) 33%, rgba(7, 110, 112, 1) 100%);
        cursor: pointer;
        font-weight: bold;
    }
}



.buttons{
    display: flex;
    justify-content: space-around;

    border-radius: 30%;
}